<?php
$product = $block->getProduct();
$downloads = $product->getData( 'downloads' );

if( $downloads ):
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $directory = $objectManager->get('\Magento\Framework\Filesystem\DirectoryList');
    $downloadsPath = $directory->getPath('media') . '/downloads/';  
?>

<ul class="product-downloads">
<?php 
    $downArr = explode( ",", $downloads);
    $fileErr = 0;
    foreach( $downArr as $download) :
        $download = trim($download);
        if( file_exists($downloadsPath . $download) ) :?>
        
        <li>
            <a href="<?= $this->getUrl('pub/media') . 'downloads/' . $download;?>" download>
                <i class="fa fa-file" aria-hidden="true"></i> <?= $download;?>
            </a>
        </li>
        <?php else:
            $fileErr++;?>
        <?php endif;
    endforeach;?>

    <?php if( $fileErr == count( $downArr ) ):?>
        <script>
            require(['jquery'], function ($) {            
                $(document).ready(function(){
                    $('#tab-label-downloads\\.tab').hide();
                })            
            });
        </script>
    <?php endif?>
</ul>

<?php else:?>
    <script>
        require(['jquery'], function ($) {
            
            $(document).ready(function(){
                $('#tab-label-downloads\\.tab').hide();
            })            
        });
    </script>
<?php endif;?>