.catalog-product-view.custom-color {
    .fieldset.custom-fields {
        margin-bottom:0;

        .field {
            margin-top:10px;
            margin-bottom:10px;
            width:35%;
        }
    }
}

@media only screen and (max-width: 767px) {
    .catalog-product-view.custom-color {
        .fieldset.custom-fields {
            float:left;
            width:40%;
            .field {
                width:90%;
                margin-top:5px;
                margin-bottom:0;
            }
        }

        .product-info-main .product-info-price {
            float:none;
        }
    }
}