<div class="clearfix" id="cardLogos">
    <ul>
        <li class="card-logo amex"><img src="<?php echo $this->getViewFileUrl('Essential_CartCardLogos::images/AE.png'); ?>" alt="Amex"></li>
        <li class="card-logo vi"><img src="<?php echo $this->getViewFileUrl('Essential_CartCardLogos::images/VI.png'); ?>" alt="Visa"></li>
        <li class="card-logo mc"><img src="<?php echo $this->getViewFileUrl('Essential_CartCardLogos::images/MC.png'); ?>" alt="Mastercard"></li>
        <li class="card-logo di"><img src="<?php echo $this->getViewFileUrl('Essential_CartCardLogos::images/DI.png'); ?>" alt="Discover"></li>
        <li class="card-logo jcb"><img src="<?php echo $this->getViewFileUrl('Essential_CartCardLogos::images/JCB.png'); ?>" alt="JCB"></li>
        <li class="card-logo dn"><img src="<?php echo $this->getViewFileUrl('Essential_CartCardLogos::images/DN.png'); ?>" alt="Diners Club"></li>
        <li class="card-logo mi"><img src="<?php echo $this->getViewFileUrl('Essential_CartCardLogos::images/MI.png'); ?>" alt="Maestro"></li>
        <li class="card-logo ap"><img src="<?php echo $this->getViewFileUrl('Essential_CartCardLogos::images/AP.png'); ?>" alt="Apple Pay"></li>
    </ul>
</div>