<?php
$message = false;
$prodType = $block->productType();
?>
<style>
.product-info-main .live-stock.stock.available {margin-top:-20px; margin-bottom:0;}
.product-info-main .live-stock.stock.available p { margin-bottom:0;}

@media screen and (max-width:576px) {
    .product-info-main .live-stock.stock.available { margin-top:-5px; }
}
</style>

<?php if($prodType == 'configurable') :?>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "configurable": {
                    "esStockConfig": <?= /* @escapeNotVerified */ $block->configLiveStock() ?>              
                }
            }
        }
    </script>
    <script>
        require(['jquery'], function ($) {        
            $(document).ready(function() {                
                $(document).bind('updateMsrpPriceBlock', function(e) {
                    var config = $('#product_addtocart_form').data('amasty_confConfigurableRenderer').options; 
                    if($('.super-attribute-select').val()) {
                        var m = config.esStockConfig[$('.super-attribute-select').val()].message;
                        if(m) {
                            $('.live-stock .message').html( m );
                            $('.live-stock').show();
                        } else {
                            $('.live-stock').hide();
                        }                    
                    } else {
                        $('.live-stock').hide();
                    }
                });
            })            
        });
    </script>
<?php else:
    $sl = $block->getSimpleStock();
    $message =  $sl > 5 || $sl <= 0 ? $message : 'Less than <span>5</span> in stock';
endif;?> 

<div class="live-stock <?= $prodType;?> stock available" style="<?php if(!$message) :?> display:none; <?php endif;?>">
    <p class="message"><?= $message;?></p>
</div>

