#cardLogos {
    ul {
        list-style: none;
        padding:0;

        .card-logo {
            display:block;
            width:23%;
            float:left;
            margin-right:2%;
        }
    }
}