<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "configurable": {
                "esConfig": <?= /* @escapeNotVerified */ $block->esJsConfig() ?>              
            }
        }
    }
</script>

<script>
    require(['jquery'], function ($) {
        
        $(document).ready(function() {                
            $(document).bind('updateMsrpPriceBlock', function(e) {
                var config = $('#product_addtocart_form').data('amasty_confConfigurableRenderer').options; 
       
                if($('.super-attribute-select').val()) {
                    $('.attribute.rrp span').html( config.spConfig.currencyFormat.replace('%s', config.esConfig[$('.super-attribute-select').val()].rrp.toFixed(2) ) );
                }
            });
        })            
    });
</script>