.product-downloads {
    list-style: none;
    margin-bottom:0;
    padding-left:0;

    li {

        &:last-of-type {
            margin-bottom:0;
        }

        a {
            &:hover {
                text-decoration:none;
            }

            i {
                margin-right:5px;
            }
        }
    }
}