<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */

?>
<?php 
$_product = $block->getProduct();

$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_call = $block->getAtCall();
$typ = $_product->getTypeId();
$level = $_product->getExtensionAttributes()->getStockItem()->getQty();
$status = $_product->getExtensionAttributes()->getStockItem()->getIs_in_stock();
$borders = $_product->getExtensionAttributes()->getStockItem()->getBackorders();
?>

<?php if ($_product->isSaleable()): ?>

<?php
$buttonTitle = __('Add to Basket');
$buttonClass = '';
// 1 or 2 mean backorders enabled valid
if ($borders != 0 && $level == 0 && $typ == 'simple') {
    $buttonTitle = __('Pre Order');
    $buttonClass = ' pre-order';
}

?>

<?php if($_product->getAttributeText('color') == 'Bespoke') :?>
    <div class="fieldset custom-fields">    
        <!-- CUSTOM RAL CODE FIELD -->
        <div class="field ral-code">
            <label class="label" for="ralCode"><span><?= /* @escapeNotVerified */ __('RAL Colour Code') ?></span></label>
            <div class="control">
                <input type="text"
                       name="essential[ral_code]"
                       id="ralCode"
                       title="<?= /* @escapeNotVerified */ __('RAL Code') ?>"
                       class="input-text ral-code"
                       data-validate='{ "required":true, "maxlength":20 }'
                       />
            </div>
        </div>
        <!-- CUSTOM RAL CODE FIELD -->
    </div>
<?php endif;?>

<div class="box-tocart">


    <div class="fieldset">        
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <label class="label" for="qty"><span><?= /* @escapeNotVerified */ __('Qty') ?></span></label>
            <div class="control">
                <input type="number"
                       name="qty"
                       id="qty"
                       value="<?= /* @escapeNotVerified */ $block->getProductDefaultQty() * 1 ?>"
                       title="<?= /* @escapeNotVerified */ __('Qty') ?>"
                       class="input-text qty"
                       data-validate="<?= $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
            </div>
        </div>
        <?php endif; ?>        
        <div class="actions">
            <button type="submit"
                    title="<?= /* @escapeNotVerified */ $buttonTitle ?>"
                    class="action primary tocart<?= /* @escapeNotVerified */ $buttonClass ?>"
                    id="product-addtocart-button">
                <span><?= /* @escapeNotVerified */ $buttonTitle ?></span>
            </button>
            <?= $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php endif; ?>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {}
        }
    }
</script>
<?php endif; ?>

<?php if($_product->getAttributeText('color') == 'Bespoke') :?>
    <script>
        require(['jquery', 'jquery/ui'], function($){
            $(document).ready( function() {
                $('body').addClass('custom-color')
            });
        });
    </script>
<?php endif;?>